*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 60px 80px;
    display: grid;
    grid-template: 
        "header" 130px
        "nav"
        "style" 1800px
        "footer" 350px
        /1fr;
    background-image: url(../images-homepage/hair.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.hum{
    display: none;
}
.catalog{
    display: none;
}


header{
    grid-area: header;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #333333;
    color: white;
    gap: 20px;
    font-size: 25px;
}

nav{
    grid-area: nav;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 40px;
    font-size: 20px;
    background-color: #2d2d2d;
    color: white;
}

nav div{
    padding: 20px;
    border-top: 1px solid #2d2d2d;
}

nav div:hover{
    border-top: 1px solid #997E45;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}


.styles{
    grid-area: style;
    display: flex;
}



aside{
    width: 20%;
    height: 100%;
    background-color: black;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.search input{
    border-radius: 20px;
    background-color: #9e9e9c;
    width: 250px;
    height: 30px;
    margin: 40px 0 10px 0;
    font-size: 20px;
    border: none;
}

.search input:hover{
    opacity: 100%;
    overflow: none;
}
.search::selection{
    outline: none;
    cursor: pointer;
}

.length,.style,.texture{
    background-color: #363636;
    margin: 20px 0;
    padding: 20px;
    width: 100%;
}

.length div,.style div,.texture div{
    margin: 5px 0;
}



article{
    background-color: white;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

article h6{
    background-color: #997E45;
    color: white;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

article h1{
   font-size: 40px;
   margin: 30px;
}

article p{
    font-size: 60px;
    display: flex;
    align-items: center;
    margin: 0 20px 0 0;
}
article p:hover{
    box-shadow: 2px 2px 2px #535353;
}

article h2{
    font-size: 30px;
    margin: 20px 30px;
}

.first,.second,.third,.forth,.fifth,.sixth{
    display: flex;
    flex-direction: row;
}

.first div,.second div,.third div,.forth div,.fifth div,.sixth div{
    margin: 0 15px 0 30px;
}
.sixth{
    margin-bottom: 50px;
}

.model{
    width: 70%;
}

.staff{
    width: 28%;
}



footer{
    grid-area: footer;
    display: flex;
    flex-direction: column; 
}

.sns{
    background-color: #535353;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.sns p{
    font-size: 25px;
    letter-spacing: 0.1em;
    padding: 0 30px 0 0;
}

.sns img{
    margin: 20px;
}

.sns img:hover{
    width: 50px;
}

.shop{
    background-color: #363637;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 220px;
    font-size: 20px;
    padding: 50px;
}

.shop div{
    padding: 70px;
}

.last{
    background-color: #2f2f2f;
    color: white;
    height: 100px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

@media screen and (max-width: 425px) {
    body{
        margin: 0;
        background: none;
        display: grid;
        grid-template:
            "header" 150px
            "catalog" 60px
            "style" 1400px
            "footer"
            / 1fr;
    }

    header{
        grid-area: header;
        padding: 8px 10px 0 30px;
        font-size: 15px;
        justify-content: start;
    }

    
    .hum{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        border-radius: 10px;
        z-index: 1;
    }
    .catalog{
        display: block;
        grid-area: catalog;

        background-color: black;
        color: white;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .styles{
        grid-area: style;
        flex: flex;
        flex-direction: column;
    }

    nav{
        display: none;
    }



    aside{
        background-color: black;
        color: white;
        font-size: 15px;

        width: 100%;
        height: 23%;
    }

    aside h3{
        font-size: 25px;
    }

    aside div{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        display: flex;
        justify-content: center;
        
    }

    .search input{
        border-radius: 20px;
        background-color: #9e9e9c;
        width: 320px;
        height: 30px;
        font-size: 20px;
        border: none;
        margin: 10px 0 0 0;
    }
        
    .length,.style,.texture{
        background-color: #363636;
        
        margin: 17px 3px;
        padding: 15px;
        width: 30%;
    }
    
    .length div,.style div,.texture div{
        display: flex;
        justify-content: flex-start;
    }

  

    article{
        width: 100%;
    }
    
    article h6{
        background-color: #997E45;
        color: white;
        font-size: 20px;
        margin-top: 20px;
        padding: 10px;
        width: 100%;
        text-align: center;
    }
    
    article h1{
       font-size: 30px;
       margin: 15px;
    }

    article h2{
        font-size: 25px;
        margin: 10px 15px;
    }

    article p{
        font-size: 30px;
        margin: 0 10px;
        display: flex;
        align-items: center;
    }
    article p:hover{
        box-shadow: 2px 2px 2px #535353;
    }

    .model{
        width: 95%;
    }
    
    .staff{
        display: none;
    }


    .first,.second,.third,.forth,.fifth,.sixth{
        display: flex;
    }
    
    .first div,.second div,.third div,.forth div,.fifth div,.sixth div{
       margin: 0;
    }
    .sixth{
        margin-bottom: 50px;
    }
  


    footer{
        grid-area: footer;
    }
    .sns p{
        display: none;
    }
    .shop{
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }
    .shop div{
        font-size: 13px;
        padding: 10px;
    }

    .last{
        font-size: 15px;
        padding: 10px;
    }
}